{% extends "layout.html" %}

{% block content %}

<h1>Friends</h1>

<h2>Friend Requests</h2>
{% for request in friendRequests %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>{{ request.sender.displayName }}</h3>
        <a href="{{ url_for('acceptfriend', userid=request.sender.id) }}" class="btn btn-success">Accept</a>
        <a class="btn btn-danger">Decline</a>
    </div>
</div>
{% endfor %}

<h2>Your Friends</h2>
{% for friendship in friends %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <img style="height:96px; float:left; margin-right: 16px;" src="{{ url_for('avatar', userid=friendship.friend.id) }}" />
        <h3>{{ friendship.friend.displayName }}</h3>
        <a class="btn btn-danger" href="{{ url_for('removeFriend', userid=friendship.friend.id) }}">Remove</a>
        <br />
        {% for circle in myCircles %}
            <a href="{{ url_for('addToCircle', circleid=circle.id, userid=friendship.friend.id) }}" class="btn btn-primary">Add to {{ circle.name }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}
