{% extends "layout.html" %}

{% block content %}

<h1>News Feed</h1>

<div class="row">
    <div class="col-md-12">
        <h2>New Post</h2>
        <form action="" method="post" name="newPost">
            <div class="form-group">
                {{ postForm.hidden_tag() }}
                {% for error in postForm.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <label for="body">Post Body</label>
                {{ postForm.body(class='form-control',placeholder='Post content') }}<br />
            </div>
            <input type="submit" value="Post" class="form-control btn-primary" />
        </form>
    </div>
</div>

{% for post in posts %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>{{ post.author.displayName }}</h3>
        <p>{{ post.body }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}
