{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>New Post</h2>
        <form action="" method="post" name="newPost" enctype="multipart/form-data">
            <div class="form-group">
                {{ postForm.hidden_tag() }}
                {% for error in postForm.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <label for="body">Post Body</label>
                {{ postForm.body(class='form-control',placeholder='Post content') }}<br />

                {% for error in postForm.photo.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ postForm.photo(class='form-control') }}

                {% for circle in circles %}
                    <input type="checkbox" name="circle" value="{{ circle.id }}"> {{ circle.name }} <br />
                {% endfor %}
            </div>
            <input type="submit" value="Post" class="form-control btn-primary" />
        </form>
    </div>
</div>

<h2>News Feed</h2>
{% for post in posts %}
<div class="row" style="margin-top: 32px;">
    <div class="col-md-8 col-md-offset-2">
        <img style="height:96px; float:left; margin-right: 16px;" src="{{ url_for('avatar', userid=post.author.id) }}" />
        <h3><a href="{{ url_for('profile', userid=post.author.id) }}">{{ post.author.displayName }}</a></h3>
        <p>{{ post.body }}</p>
        {% if post.hasPhoto %}
            <img style="max-width:100%; max-height: 480px;" src="{{ url_for('image', postid=post.id) }}" />
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}
