{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>New Post</h2>
        <form action="" method="post" name="newPost">
            <div class="form-group">
                {{ postForm.hidden_tag() }}
                {% for error in postForm.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <label for="body">Post Body</label>
                {{ postForm.body(class='form-control',placeholder='Post content') }}<br />
            </div>
            <input type="submit" value="Post" class="form-control btn-primary" />
        </form>
    </div>
</div>

<h2>News Feed</h2>
{% for post in posts %}
<div class="row" style="margin-top: 32px;">
    <div class="col-md-8 col-md-offset-2">
        <img style="height:96px; float:left; margin-right: 16px;" src="{{ url_for('avatar', userid=post.author.id) }}" />
        <h3>{{ post.author.displayName }}</h3>
        <p>{{ post.body }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}
